<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div style="text-align: center;">
  <h1>
    Password Manager
  </h1>
</div>

<nav align="center">
  <a routerLink="/all-users" routerLinkActive="active"> All-Users</a>
  <a routerLink="/create-user" routerLinkActive="active"> Create </a>
</nav>

<router-outlet></router-outlet>
