

<div class="container mt-5">
  <h2 style="text-align: center;">User list</h2>

  <table class="table table-striped" align="center">

    <thead>
      <tr>
        <th>Id</th>
        <th>Category</th>
        <th>App</th>
        <th>Username</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.id }}</td>
        <td>{{ user.category }}</td>
        <td>{{ user.app }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.encryptedPassword }}</td>
        <td>
          <button>Edit</button>
        </td>
        <td>
          <button>
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
