

<div class="container mt-5">
  <h2 style="text-align: center;">User list</h2>

  <table class="table table-striped" align="center">

    <thead>
      <tr>
        <th scope="col">Sl.</th>
        <th scope="col">Category</th>
        <th scope="col">App</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="userList.length > 0">
      <tr *ngFor="let user of userList; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <!-- <td>{{ user.id }}</td> -->
        <td>{{ user.category }}</td>
        <td>{{ user.app }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.encryptedPassword }}</td>
        <td>
          <button class="btn btn-success" (click)="onUpdate(user.id)">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(user.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>

  </table>

  <!-- if no user is available then this will show -->
  <div *ngIf="userList.length == 0"> no data </div>


</div>

