<div class="container">
  <h1> Change Password</h1>

  <form #userUpdate="ngForm" (ngSubmit)="update(userUpdate.value)">
    <!-- category -->
    <div class="form-group">
      <label for="category">Category</label>
      <br>
      <input type="text" required name="category" id="" class="form-control" [(ngModel)]="user.category" disabled>
    </div>
    <pre></pre>

    <!-- app -->
    <div class="form-group">
      <label for="app">App</label>
      <br>
      <input type="text" required name="app" id="" class="form-control" [(ngModel)]="user.app" disabled>
    </div>
    <pre></pre>

    <!-- userName -->
    <div class="form-group">
      <label for="userName">Username</label>
      <br>
      <input type="text" required name="userName" id="" class="form-control" [(ngModel)]="user.userName" disabled>
    </div>
    <pre></pre>

    <!-- encryptedPassword -->
    <div class="form-group">
      <label for="encryptedPassword">Password</label>
      <br>
      <input type="text" required name="encryptedPassword" id="" class="form-control" [(ngModel)]="user.encryptedPassword">
    </div>
    <pre></pre>

    <!-- submit -->
    <button type="submit" class="btn btn-primary">Update</button>&nbsp;
    <button (click)="goBack()" class="btn btn-primary">Back</button>
  </form>

</div>
