<p>update-user works!</p>


<div class="container" align="center">
  <h1> User Registraion</h1>

  <form #userUpdate="ngForm" (ngSubmit)="update(userUpdate.value)">
    <!-- category -->
    <div class="form-group">
      <label for="category">Category</label>
      <br>
      <input type="text" required name="category" id="" class="form-control" [(ngModel)]="user.category">
    </div>
    <pre></pre>

    <!-- app -->
    <div class="form-group">
      <label for="app">App</label>
      <br>
      <input type="text" required name="app" id="" class="form-control" [(ngModel)]="user.app">
    </div>
    <pre></pre>

    <!-- userName -->
    <div class="form-group">
      <label for="userName">Username</label>
      <br>
      <input type="text" required name="userName" id="" class="form-control" [(ngModel)]="user.userName">
    </div>
    <pre></pre>

    <!-- encryptedPassword -->
    <div class="form-group">
      <label for="encryptedPassword">Password</label>
      <br>
      <input type="text" required name="encryptedPassword" id="" class="form-control" [(ngModel)]="user.encryptedPassword">
    </div>
    <pre></pre>

    <!-- submit -->
    <button type="submit">Update</button>
  </form>

</div>
